{{>loginbar}}
{{>navbar}}
<div class="container mt-5">
    <div class="row full-vh">
        <div class="col-md-6">
            <div class="avarta-place">
                <img src="{{login.imgSrc}}" class="rounded-circle avatar-lg shadow" style="width:300px;height:300px;"
                    alt="avartar">
            </div>
            <hr>
            <button class="btn btn-primary" id="change-ava">Change Avatar</button>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <input type='file' id="image-input" />
                            <hr>
                            <img id="image-preview" src="#" alt="your image"
                                class="rounded-circle avatar-lg mx-auto hidden" style="width:150px;height:150px;" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="update"
                                data-dismiss="modal">Update</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal fade" id="loadMe" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <div class="loader"></div>
                            <div clas="loader-txt">
                                <p>Updating Avatar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="info-place">
                <p class="h2">{{login.name}}</p>
                <p class="h4">Email: {{login.email}}</p>
                <p class="h4">Password: {{login.password}}</p>
                <p class="h4">Address: {{login.address}}</p>
                <p class="h4">Phone Number: {{login.phoneNumber}}</p>
            </div>
        </div>
    </div>
</div>
{{>instagramFeed}}
{{>footer}}
{{#extend "script"}}
<script src="/js/customjs/change-ava.js"></script>
{{/extend}}