{{>loginbar}}
{{>navbar}}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Shop</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                    <option value="0" {{sortType sortType "0"}}>Nothing</option>
                                    <option value="1" {{sortType sortType "1"}}>Name</option>
                                    <option value="2" {{sortType sortType "2"}}>High Price → Low Price</option>
                                    <option value="3" {{sortType sortType "3"}}>Low Price → High Price</option>

                                </select>
                            </div>
                            <p>Showing {{totalProducts}} results</p>

                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i
                                            class="fa fa-th"></i> </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    {{#each products}}
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                {{{drinkType more}}}
                                                <img src="{{imgSrc}}" class="img-fluid shop-item-img"
                                                    style="max-height:250px;width:100%;object-fit:cover" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                                title="View"><i class="fas fa-eye"></i></a></li>
                                                        <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                                title="Compare"><i class="fas fa-sync-alt"></i></a>
                                                        </li>
                                                        <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                                title="Add to Wishlist"><i class="far fa-heart"></i></a>
                                                        </li>
                                                    </ul>
                                                    <a class="cart add-cart" style="user-select: none;">Add to
                                                        Cart</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <a href=" /shop/{{_id}}">
                                                    <h4 class="product-name shop-item-title text-uppercase">{{name}}
                                                    </h4>
                                                </a>
                                                <h5 class="product-price shop-item-price"> ${{price}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{>pagination}}
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form>
                            <input class="form-control" id="search-value" placeholder="Search here..." type="text">
                            <button type="submit" id="search-btn"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Categories</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men"
                            data-children=".sub-men">
                            <div class="list-group-collapse sub-men">
                                <a class="list-group-item list-group-item-action" href="#sub-men1"
                                    data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">Categories

                                </a>
                                <div class="collapse {{#if filter}}show{{/if}}" id="sub-men1"
                                    data-parent="#list-group-men">
                                    <div class="list-group">
                                        <a href="/shop/filter/coffee"
                                            class="list-group-item list-group-item-action {{filters filter "coffee"}}">Coffee
                                        </a>
                                        <a href="/shop/filter/tea"
                                            class="list-group-item list-group-item-action {{filters filter "tea"}}">Tea</a>
                                        <a href="/shop/filter/milk-tea"
                                            class="list-group-item list-group-item-action {{filters filter "milk-tea"}}">Milk
                                            Tea</a>
                                        <a href="/shop" class="list-group-item list-group-item-action">
                                            All</a>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-collapse sub-men">

                                <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                    <div class="list-group">
                                        <a href="/shop/filter/coffee"
                                            class="list-group-item list-group-item-action">Coffee</a>
                                        <a href="/shop/filter/tea"
                                            class="list-group-item list-group-item-action">Tea</a>
                                        <a href="/shop/filter/milk-tea"
                                            class="list-group-item list-group-item-action">Milk
                                            Tea</a>

                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <a href="/shop/filter/new"
                                    class="list-group-item list-group-item-action {{filters filter "new"}}">New</a>
                                <a href="/shop/filter/hot"
                                    class="list-group-item list-group-item-action {{filters filter "hot"}}">Hot</a>
                                <a href="/shop/filter/sale"
                                    class="list-group-item list-group-item-action {{filters filter "sale"}}">Sale
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="filter-price-left">
                        <div class="title-left">
                            <h3>Price</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="minPrice" style="display: none;">{{minPrice}}</div>
                            <div id="maxPrice" style="display: none;">{{maxPrice}}</div>
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly
                                    style="border:0; color:#fbb714; font-weight:bold;">
                                <button class="btn hvr-hover" type="submit" id="filter-submit">Filter</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>instagramFeed}}
{{>footer}}
<script src="/static/js/customjs/shop-page.js"></script>
<!-- End Shop Page -->